$primary-text: #0f172a;
$secondary-text: #475569;
$primary-color: #522546;
$secondary-color: #581346;
$light-primary-color: linear-gradient(to right, #522546, #f7374f);
$light-secondary-color: linear-gradient(to bottom, #522546, #f7374f);
